! /etc/frr/bgpd.conf — managed by Ansible
router bgp {{ bgp_local_asn }}
 bgp router-id {{ bgp_router_id }}
 timers bgp {{ bgp_keepalive }} {{ bgp_holdtime }}
 neighbor {{ bgp_nsx_uplink_ip }} remote-as {{ bgp_nsx_asn }}
 neighbor {{ bgp_nsx_uplink_ip }} description NSX-Tier0
 address-family ipv4 unicast
  neighbor {{ bgp_nsx_uplink_ip }} activate
  redistribute connected
 exit-address-family
