# ~/.ssh/config — managed by Ansible

{% for record in gateway_dns_records %}
{% if record.hostname != 'gateway' %}
Host {{ record.hostname }}
    HostName {{ record.ip }}
{% if record.hostname.startswith('esxi') %}
    User root
{% endif %}
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    LogLevel ERROR

{% endif %}
{% endfor %}
