[defaults]
inventory = inventory/hosts.yml
roles_path = roles
library = library
collections_path = collections
host_key_checking = false
retry_files_enabled = false

[privilege_escalation]
become = false

[ssh_connection]
pipelining = true
